* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  color: #1e293b;
  background: #f8fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  padding: 0 30px;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.container section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0%;
}
@media screen and (max-width: 500px) {
  p {
    font-size: 12px;
  }
}
p span {
  font-weight: 700;
}

#twinkle {
  position: relative;
  overflow: hidden;
}

.twinkle-effect {
  position: absolute;
  top: -50%;
  left: -100%;
  width: 100%;
  height: 200%;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(45deg) scale(1);
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.pt-50 {
  padding-top: 50px;
}

.section-1 {
  background: url("../img/bg_section_1.png") no-repeat center center;
  background-position: bottom;
  background-size: cover;
  padding: 15px;
  padding-bottom: 0;
  overflow: hidden;
}
.section-1 .__title {
  background: #ff7e00;
  border: 3px solid #ff7e00;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2509803922), 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922) inset;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  padding: 1px 10px;
}
@media screen and (max-width: 500px) {
  .section-1 .__title {
    font-size: 14px;
  }
}
.section-1 .title h2 {
  margin-top: -18px;
  font-weight: 900;
  font-size: 40px;
  line-height: 128%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffff56;
  -webkit-text-stroke: 0.5px #ffff56;
  font-weight: 900;
  text-shadow: 3px 0 #ff7e00, -3px 0 #ff7e00, 0 1px #ff7e00, 0 -3px #ff7e00;
}
@media screen and (max-width: 500px) {
  .section-1 .title h2 {
    font-size: 24px;
    margin-top: -10px;
  }
}
.section-1 .title h2 span {
  -webkit-text-stroke: 0.5px #fff;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .section-1 .title h2 span {
    font-size: 14px;
  }
}
.section-1 .subContent {
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 5px;
  color: #000000;
  padding: 10px;
}
.section-1 .subContent span {
  background-image: linear-gradient(to bottom, transparent 60%, rgba(255, 126, 0, 0.2509803922));
}
.section-1 .content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
}
.section-1 .content-wrapper .tutor {
  width: 30%;
  position: relative;
  overflow: visible;
}
@media screen and (max-width: 768px) {
  .section-1 .content-wrapper .tutor {
    width: 40%;
  }
}
.section-1 .content-wrapper .tutor img {
  position: absolute;
  bottom: -15px;
  right: -100px;
  width: 500px;
  object-fit: cover;
  background-position: bottom;
}
@media screen and (max-width: 768px) {
  .section-1 .content-wrapper .tutor img {
    width: 400px;
    right: -90px;
  }
}
.section-1 .content-wrapper .content {
  width: 70%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .section-1 .content-wrapper .content {
    width: 60%;
  }
}
.section-1 .content-wrapper .content h2 {
  color: #ffffff;
  margin-bottom: 10px;
}
.section-1 .content-wrapper .content span {
  background-image: linear-gradient(to bottom, transparent 60%, rgba(255, 126, 0, 0.2509803922));
}
.section-1 .content-wrapper .content .content-1 {
  width: 140%;
}
@media screen and (max-width: 768px) {
  .section-1 .content-wrapper .content .content-1 {
    width: 160%;
  }
}
@media screen and (max-width: 768px) {
  .section-1 .content-wrapper .content .content-2 {
    width: 160%;
  }
}
@media screen and (max-width: 500px) {
  .section-1 .content-wrapper .content .content-2 {
    width: 100%;
  }
}
.section-1 .content-wrapper .content .content-3 {
  padding-bottom: 15px;
}
@media screen and (max-width: 400px) {
  .section-1 .content-wrapper .content .content-3 {
    width: 80%;
  }
}

.section-2 .content {
  width: 100%;
  height: 100px;
  background: url("../img/bg_section_2.png") no-repeat center, center;
  background-size: cover;
  position: relative;
}
.section-2 .medal {
  position: absolute;
  top: -10px;
  left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.section-2 .medal img {
  width: 65px;
  height: 65px;
}
.section-2 .medal h3 {
  font-weight: 900;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
@media screen and (max-width: 500px) {
  .section-2 .medal h3 {
    font-size: 16px;
  }
}
.section-2 .rate {
  position: absolute;
  top: -5px;
  right: 0;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid #34998d;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background: #ffffff;
  padding: 5px;
}
.section-2 .rate p {
  font-weight: 500;
  font-size: 14px;
  font-weight: bold;
  line-height: 110%;
  letter-spacing: 0%;
  color: #000000;
}
.section-2 .rate img {
  width: auto;
  height: 15px;
}

.section-3 {
  gap: 10px;
}
.section-3 .title {
  background: url("../img/bg_section_6_title.png") no-repeat center, center;
  background-size: 100% 100%;
  width: 100%;
  padding: 15px;
}
.section-3 .title h4 {
  font-weight: 900;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 500px) {
  .section-3 .title h4 {
    font-size: 20px;
  }
}
.section-3 .content div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section-3 .content div img {
  width: 60px;
  height: 60px;
}
.section-3 .content div p {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (max-width: 500px) {
  .section-3 .content div p {
    font-size: 14px;
  }
}
.section-3 .content div p span {
  color: #ed5a37;
}

.section-4 .table {
  width: 100%;
  padding: 1px;
  border: 1px solid #9ddbca;
  margin-bottom: 20px;
}
.section-4 .table .rate {
  img-height: 32px;
  img-width: auto;
  padding: 23px;
}
.section-4 .table p {
  font-weight: 900;
  font-size: 23px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #2c897a;
}
.section-4 .table h4 {
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .section-4 .table h4 {
    font-size: 15px;
  }
}
.section-4 .table h4 span {
  color: #ed5a37;
}
.section-4 .table h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .section-4 .table h5 {
    font-size: 12px;
  }
}
.section-4 .table .header {
  width: 100%;
  padding: 15px;
  background: #9ddbca;
}
.section-4 .table div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9ddbca;
}
.section-4 .table div .key {
  background: #9ddbca;
  width: 40%;
  height: 100%;
  padding: 25px;
  margin: 1px;
}
.section-4 .table div div {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-4 .table div img {
  height: 34px;
  width: auto;
}
.section-4 .table div h3 {
  font-weight: 800;
  font-size: 34px;
  line-height: 128%;
  letter-spacing: 0%;
  text-align: center;
  color: #ed5a37;
}
@media screen and (max-width: 500px) {
  .section-4 .table div h3 {
    font-size: 24px;
  }
}
.section-4 .table p {
  font-weight: 900;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .section-4 .table p {
    font-size: 15px;
  }
}
.section-4 .content {
  background: #9ddbca;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px 15px;
}
.section-4 .content h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #2c897a;
}
@media screen and (max-width: 500px) {
  .section-4 .content h3 {
    font-size: 22px;
  }
}
.section-4 .content div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media (max-width: 768px) {
  .section-4 .content div {
    flex-direction: column;
  }
}
.section-4 .content div div {
  width: 100%;
  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.2509803922) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 10px;
  color: #ffffff;
  font-family: Inter;
  font-weight: 700;
  font-size: 28px;
  line-height: 128%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .section-4 .content div div {
    font-size: 18px;
  }
}

.section-5 {
  position: relative;
  width: calc(100% - 65px);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-5 .dialogue {
  z-index: 100;
}
.section-5 .dialogue div {
  position: absolute;
  top: -42px;
  left: -26px;
}
@media screen and (max-width: 500px) {
  .section-5 .dialogue div {
    top: -33px;
    left: -16px;
  }
}
.section-5 .dialogue p {
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.2509803922), 0px 2px 2px rgba(0, 0, 0, 0.2509803922);
}
@media screen and (max-width: 500px) {
  .section-5 .dialogue p {
    font-size: 14px;
  }
}
.section-5 .dialogue img {
  position: absolute;
  top: -50px;
  left: -65px;
  width: auto;
  height: 85px;
}
.section-5 .content {
  position: relative;
  width: 100%;
  justify-self: flex-end;
  background: #ff7e00;
  box-shadow: 0px 20px 30px 0px rgba(255, 255, 255, 0.2509803922) inset, 4px 4px 4px 0px rgba(0, 0, 0, 0.3019607843);
  border-radius: 50px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-5 .content h4 {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2509803922);
  color: #ffffff;
  font-weight: 900;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .section-5 .content h4 {
    font-size: 18px;
  }
}
.section-5 .content img {
  width: 25px;
  height: 25px;
}

.section-6 .header {
  width: 100%;
  background: url("../img/bg_section_6_title.png");
  background-size: 100% 100%;
  padding: 18.5px;
  margin-bottom: -1px;
}
.section-6 .header h4 {
  color: #ffffff;
  font-weight: 900;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .section-6 .header h4 {
    font-size: 20px;
  }
}
.section-6 section {
  position: relative;
  border: 2px solid #2c897a;
  padding: 15px 20px;
}
@media screen and (max-width: 500px) {
  .section-6 section {
    padding: 5px 5px;
  }
}
.section-6 section p {
  font-weight: 900;
  font-size: 25px;
  line-height: 160%;
  letter-spacing: 0%;
}
@media screen and (max-width: 500px) {
  .section-6 section p {
    font-size: 15px;
  }
}
.section-6 section .swiper-container {
  width: 100%;
  overflow: hidden;
}
.section-6 section .swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.section-6 section .swiper-slide {
  min-width: 100%;
}
.section-6 section .content {
  border: 1px solid #999999;
  border-radius: 7px;
  padding: 7px;
}
@media screen and (max-width: 500px) {
  .section-6 section .content {
    padding: 0px;
  }
}
.section-6 section .content .avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #000000;
  padding: 10px;
  overflow: hidden;
}
.section-6 section .content .avatar img {
  width: 70px;
  height: auto;
  background-size: cover;
}
.section-6 section .content .content-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .section-6 section .content .content-header {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .section-6 section .content .content-header {
    padding: 10px;
  }
}
.section-6 section .content .content-body {
  padding: 20px 10px 100px;
}
@media screen and (max-width: 500px) {
  .section-6 section .content .content-body {
    padding: 10px 5px 50px;
  }
}
.section-6 section .content .content-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
.section-6 section .content .content-footer a {
  color: #34998d;
}
@media screen and (max-width: 768px) {
  .section-6 section .content .content-footer {
    padding-right: 5px;
  }
}
.section-6 section .button-prev {
  position: absolute;
  top: calc(50% - 35px);
  left: -30px;
  transform: rotate(180deg);
  width: 64px;
  cursor: pointer;
}
.section-6 section .button-prev img {
  transform: scaleY(-1);
  width: 100%;
  height: auto;
}
@media screen and (max-width: 500px) {
  .section-6 section .button-prev {
    width: 54px;
    top: calc(50% - 25px);
    left: -20px;
  }
}
.section-6 section .button-next {
  position: absolute;
  top: calc(50% - 35px);
  right: -30px;
  width: 64px;
  cursor: pointer;
}
.section-6 section .button-next img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 500px) {
  .section-6 section .button-next {
    width: 54px;
    top: calc(50% - 25px);
    right: -20px;
  }
}
.section-6 section .button-icon {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #000000;
}
.section-6 section .button-icon img {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 500px) {
  .section-6 section .button-icon img {
    width: 20px;
    height: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
